In [1]:
# while loop
# for loop

In [2]:
# iteration : for
# for  i in range(1,10)

In [4]:
# while loop

'''
for  i in range(0,10):

i=0
while(i<10):
    print(i)

'''

i=0
while(i<10):
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9

In [7]:
i=5
while(i<10):
    i+=1
    print(i)

6
7
8
9
10

In [10]:
i=5
while(True):
    print(i)
    break

5

In [12]:
i=5
while(True):
    if(i==10):
        print(i)
        break
    i+=1

10

In [15]:
i=0
while(i<5):
    if(i==3):
        print(i)
        break
    
    i+=1

3

In [17]:
count=0
total_num=0
while(True):
    if(count%2==0):
        print(count)
        total_num+=1
    if(total_num==5):
        break
    
    
    count +=1

0
2
4
6
8

In [20]:
# set : collection of element
# element => unordered
# unique
# no index

myset={1,2,1,33,5,6,33,33}
print(myset)

{1, 2, 33, 5, 6}

In [23]:
myset={1,2,1,33,5,6,33,33,111}

myset

{1, 2, 5, 6, 33, 111}

In [24]:
myset.add(1000)
print(myset)

{1, 2, 33, 5, 6, 1000, 111}

In [29]:
myset.update( ["hey"]  )
print(myset)

{1, 2, 5, 6, 'h', 33, 1000, 'y', 'e', 111, 'hey'}

In [33]:

print(myset)
myset.remove(5)
myset

{1, 2, 6, 'h', 33, 1000, 'y', 'e', 111, 'hey'}

KeyError: 5

In [36]:

print(myset)
myset.discard(1)
myset

{2, 6, 'h', 33, 1000, 'y', 'e', 111, 'hey'}

{1000, 111, 2, 33, 6, 'e', 'h', 'hey', 'y'}

In [37]:
"hey tushar hello aman hey naina tushar".split(" ")

['hey', 'tushar', 'hello', 'aman', 'hey', 'naina', 'tushar']