In [1]:
# tuple
# list
# ()  index
# immutable

In [5]:
mytuple=10,20,"hello"
print( type(mytuple) )

<class 'tuple'>

In [7]:
mytuple=(10,20,"hello")
print( type(mytuple) )

<class 'tuple'>

In [8]:
mytuple=10,20,"hello"
print( type(mytuple) )

<class 'tuple'>

In [14]:
mytuple[2]

'hello'

In [19]:
# immutable 
mytuple[0]

10

In [21]:
mytuple.count(10)

1

In [23]:
mytuple

(10, 20, 'hello')

In [26]:
mytuple.index("hello")

2

In [27]:
# Mydictionary
# datastructure 
# {key : value}
# key identifier : unique
# value : may be unique or duplicate
# mutuable  / ordered
# no index position

In [29]:
mydictionary = { 10:"yash" }
type(mydictionary)

dict

In [32]:
mydictionary = { 10:"yash",  20:"abhishek" }
mydictionary

{10: 'yash', 20: 'abhishek'}

In [36]:
mydictionary[20]

'abhishek'

In [40]:
mydictionary = { 10:"yash",  20:"abhishek" }
print(mydictionary)

# update / insert
mydictionary[40] = "naina123"

{10: 'yash', 20: 'abhishek'}

In [41]:
print(mydictionary)

{10: 'yash', 20: 'abhishek', 40: 'naina123'}

In [80]:

mydictionary={"B":1 , "A":10}

In [83]:
print(mydictionary)

"C" in mydictionary

{'B': 1, 'A': 10}

False

In [61]:

mydictionary["c"]=1
print(mydictionary)

{'B': 1, 'A': 10, 'c': 1}

In [62]:
# mydiction[key] = value

mydictionary={}
for char in "hello":
    mydictionary[char]=1
    
print(mydictionary)

{'h': 1, 'e': 1, 'l': 1, 'o': 1}

In [63]:
# "hello hey"
# {totalword:8}


# " hey hello tushar"
# {e:2  , o:1 , u:1,  a:1}

In [66]:
count=0
mydictionary={}
for i in "hello":
    print(i)
    count+=1
    
mydictionary={"totalwords":count}
mydictionary

h
e
l
l
o

{'totalwords': 5}

In [70]:
mydictionary={"totalwords":0}
mydictionary["totalwords"] = mydictionary["totalwords"]+1
print(mydictionary)

{'totalwords': 1}

In [73]:
mydictionary={"totalwords":0}
for i in "hello hey":
    mydictionary["totalwords"] = mydictionary["totalwords"]+1

print(mydictionary)

{'totalwords': 9}

In [90]:
mydictionary={}
for char in "hello hey tushar":
    if char in "aeiou":
        
        if char not in mydictionary:
            mydictionary[char]=1
        
        else:
            mydictionary[char]= mydictionary[char]+1
        
mydictionary

{'e': 2, 'o': 1, 'u': 1, 'a': 1}

In [ ]:
#  sunday => 
#  1  2   3  4  5 6 7
#  2 3  4  5  6 7 8
#  3
# 4

#10  => 37
# 5  =>   15
#24